<div class="row global__toolbar">
    <div class="gc__right">
        <header class="row row__filter">
            <form class="search">
                <input type="text" placeholder="Event ..." class="f__input" data-ng-model="currentTitle">
                <input type="date" value="Date ..." class="f__input" data-ng-model="currentDate">
                <textarea data-ng-model="currentBody" placeholder="Event Description" >Description..</textarea>
                <textarea data-ng-model="currentExcerpt" placeholder="More details..">Others details..</textarea>


            </form>
            <div class="create">
                <button class="cta" data-ng-click="create()">Save</button></div>
        </header>
    </div>
</div>

<div class="row global__content">
    <div class="gc__sidebar">
        <ul class="nav">
            <li class="nav__header">Quick Links</li>
            <li class="nav__item"><a href="#/reflections" class="nav__link">Reflections</a></li>
            <li class="nav__item active"><a href="#/" class="nav__link">Readings</a></li>
            <li class="nav__item"><a href="#/prayer-type-create" class="nav__link">Prayer Types</a></li>
            <li class="nav__item"><a href="#/prayers" class="nav__link">Prayers</a></li>
            <li class="nav__item"><a href="#/create-happenings" class="nav__link">Happening Today</a></li>
            <li class="nav__item"><a href="#/create-raw-jumuiya" class="nav__link">Raw Jumuiya</a></li>
            <li class="nav__item"><a href="#/create-jumuiya" class="nav__link">Jumuiya Event</a></li>
            <li class="nav__item"><a href="#/create-parishes" class="nav__link">Parishes</a></li>
            <li class="nav__item"><a href="#/create-stations" class="nav__link">Stations</a></li>
        </ul>
    </div>
</div>