<div class="alert alert-success" ng-show="showSuccessAlert">
    <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
    <strong>Done!</strong> {{successTextAlert}}
</div>


<div class="row global__toolbar">
<form name="readingForm" data-ng-submit="create()">
    <div class="gc__right">
        <header class="row row__filter">

                <!--<input type="text" value="Name ..." class="f__input">-->
                <label class="f__label">Reading Date</label>
                <input type="date" value="Date ..." class="f__input" data-ng-model="currentReadingDate" required>

            <div class="create">
                <button type="submit"  class="cta">Save</button></div>
        </header>
    </div>
</div>

<div class="row ">
    <div class="row create__readings">
        <div class="reading">
            <h4 class="rd__label">1st Reading</h4>
            <input type="text" placeholder="Verse" class="f__input rd__verse" data-ng-model="currentFirstReadingBook" required>
            <textarea placeholder="Summary..."  class="f__input rd__summary" data-ng-model="currentFirstReadingTitle" required>Summary</textarea>
            <textarea placeholder="Body..."  class="f__input rd__reading" data-ng-model="currentFirstReadingBody" required>The Reading </textarea>
        </div>
        <div class="reading">
            <h4 class="rd__label">Responsorial Psalm</h4>
            <input type="text" placeholder="Summary.."  class="f__input rd__verse" data-ng-model="currentResponsorialTitle" required>
            <input type="text" placeholder="Verses.."  class="f__input rd__verse" data-ng-model="currentResponsorialBook" required>
            <textarea placeholder="Response..." class="f__input rd__summary" data-ng-model="currentResponsorialBodyOne" required>The Responsorial Psalm</textarea>
            <input type="text" placeholder="Psalm Verse..." class="f__input rd__verse" data-ng-model="currentResponsorialPsalmVerse" required>
            <textarea placeholder="Body..." class="f__input rd__reading" data-ng-model="currentResponsorialBodyTwo" required>The Reading</textarea>
        </div>
        <div class="reading">
            <h4 class="rd__label">2nd Reading</h4>
            <input type="text" placeholder="Verse..." class="f__input rd__verse" data-ng-model="currentSecondReadingBook" required>
            <textarea placeholder="Summary..." class="f__input rd__summary" data-ng-model="currentSecondReadingTitle" required>Summary</textarea>
            <textarea placeholder="Body..." class="f__input rd__reading" data-ng-model="currentSecondReadingBody" required>The Reading</textarea>
        </div>
        <div class="reading">
            <h4 class="rd__label">Gospel</h4>
            <input type="text" placeholder="Verse..." class="f__input rd__verse" data-ng-model="currentGospelBook" required>
            <textarea placeholder="Summary..."  class="f__input rd__summary" data-ng-model="currentGospelTitle" required>Summary</textarea>
            <textarea placeholder="Gospel..."  class="f__input rd__reading" data-ng-model="currentGospelBody" required>The Gospel</textarea>
        </div>
    </div>
</div>
</form>