<div class="row global__toolbar">

    <div class="row global__content">
        <div class="gc__sidebar">
            <ul class="nav">
                <li class="nav__header">Quick Links</li>
                <li class="nav__item"><a href="#/reflections" class="nav__link">Reflections</a></li>
                <li class="nav__item active"><a href="#/" class="nav__link">Readings</a></li>
                <!--<li class="nav__item"><a href="#/prayer-type-create" class="nav__link">Prayer Types</a></li>-->
                <li class="nav__item"><a href="#/prayers" class="nav__link">Prayers</a></li>
                <li class="nav__item"><a href="#/create-happenings" class="nav__link">Happening Today</a></li>
                <li class="nav__item"><a href="#/create-raw-jumuiya" class="nav__link">Raw Jumuiya</a></li>
                <li class="nav__item"><a href="#/create-jumuiya" class="nav__link">Jumuiya Event</a></li>
                <li class="nav__item"><a href="#/create-parishes" class="nav__link">Parishes</a></li>
                <li class="nav__item"><a href="#/create-stations" class="nav__link">Stations</a></li>
                <li class="nav__item"><a href="#/subscriptions" class="nav__link">Subscriptions</a></li>

            </ul>
        </div>
        <div class="gc__right">
            <section class="row__table">
                <table class="table">
                    <tr>
                        <button style="margin-bottom: 2%;"  class="btn btn-sm btn-primary col-md-offset-5" data-ng-click="refresh()">New Users</button>

                        <th>User Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Subscription</th>
                        <th>Category</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>


                    <tr>
                        <!--<div id="fountainTextG" data-ng-show="loading"><div id="fountainTextG_1" class="fountainTextG">L</div><div id="fountainTextG_2" class="fountainTextG">o</div><div id="fountainTextG_3" class="fountainTextG">a</div><div id="fountainTextG_4" class="fountainTextG">d</div><div id="fountainTextG_5" class="fountainTextG">i</div><div id="fountainTextG_6" class="fountainTextG">n</div><div id="fountainTextG_7" class="fountainTextG">g</div></div>-->

                    </tr>

                    <tr data-ng-repeat="user in users | orderBy:'-user_id'">
                        <td>
                            <a href="">{{user.name}}</a>
                        </td>
                        <td>
                            <p>{{user.email}}</p>
                        </td>

                        <td>
                            <p>{{user.phone_number}}</p>
                        </td>
                        <img  class="" style="margin-left: 750px; margin-top: 0px;" width="10" height="10" src="../img/loading.gif" data-ng-show="loading">
                        <td>
                            <button data-ng-show="{{user.subscription_status == 0}}" class="btn btn-sm btn-primary" data-ng-click="unsubscribe(user.user_id, user.subscription_id)">Subscribed</button>
                            <button data-ng-show="{{user.subscription_status == 1}}" class="btn btn-sm btn-warning" data-ng-click="subscribe(user.user_id, user.subscription_id)">Unsubscribed</button>
                            <button data-ng-show="{{user.subscription_status == 2}}" class="btn btn-sm btn-warning" data-ng-click="subscribe(user.user_id, user.subscription_id)">Unsubscribed</button>
                            <button data-ng-show="{{user.subscription_status == 3}}" class="btn btn-sm btn-warning" data-ng-click="subscribe(user.user_id, user.subscription_id)">Unsubscribed</button>
                            <button data-ng-show="{{user.subscription_status == 4}}" class="btn btn-sm btn-warning" data-ng-click="subscribe(user.user_id, user.subscription_id)">Unsubscribed</button>
                            <button data-ng-show="{{user.subscription_status == 5}}" class="btn btn-sm btn-warning" data-ng-click="subscribe(user.user_id, user.subscription_id)">Unsubscribed</button>
                        </td>
                        <td>
                            <span data-ng-show="{{user.subscription_category_code == 1}}">Weekly</span>
                            <span data-ng-show="{{user.subscription_category_code == 2}}">Monthly</span>
                            <span data-ng-show="{{user.subscription_category_code == 3}}">3 Months</span>
                            <span data-ng-show="{{user.subscription_category_code == 4}}">Annual</span>
                        </td>
                        <td>
                           {{user.start_date | date : format : timezone}}
                        </td>
                        <td>
                            {{user.end_date | date : format : timezone}}
                        </td>

                        <!--<td>4-April-2014</td>-->
                        <!--<td> <a href="#" class="cta__link">Edit</a><a href="#" class="cta__link">Delete</a></td>-->
                    </tr>
                </table>
            </section>
        </div>
    </div>
</div>