
    <div class="gc__center">
        <form class="form__auth">
            <div class="f__section left">
                <div class="f__field">Logo</div>
            </div>
            <div class="f__section right">
                <div class="f__field">
                    <h4 class="f__label">User Login</h4>
                </div>
                    <input type="text" placeholder="Email Address..." data-ng-model="email" required >
                <div class="f__field">

            </div>
                <div class="f__field">
                    <input type="password" placeholder="Password..." data-ng-model="password" required >
                </div>
                <div class="f__field">
                    <button class="cta" data-ng-click="login()">Login</button>
                </div>
            </div>
        </form>
    </div>

